<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Todefer{% if title|not-empty %} - {{ title }}{% endif %}</title>

    <!-- styles -->
    {% style "/assets/bulma/css/bulma.min.css" %}
    {% style "/assets/material-icons/css/material-icons.min.css" %}

    {% style "/css/screen.css" %}
  </head>
  <body>
      <!-- navbar -->
      <section class="hero is-info is-small">
        <div class="hero-head">
          <nav class="navbar">
              <div class="container">
                <div class="navbar-brand">
                  <a class="navbar-item" href="" style="font-weight:bold;">Todefer</a>
                  <span class="navbar-burger burger" data-target="nav-menu">
                      <span></span>
                      <span></span>
                      <span></span>
                  </span>
                </div>
                <div id="nav-menu" class="navbar-menu">
                      <div class="navbar-end">
                        {% for apppage in apppages %}
                        <a href="/app-page/{{ apppage.page_name_sanitized }}" class="navbar-item{% ifequal page_name apppage.page_name %} is-active{%endifequal%}">{{ apppage.page_name }}</a>
                        {% endfor %}
                        <a href="/settings" class="navbar-item{% ifequal page_name "/settings_y7je3sig" %} is-active{%endifequal%}">⚙</a>
                      </div>
                  </div>
              </div>
          </nav>
        </div>
        <div class="hero-body" style="padding-top: 0; padding-bottom: 0.5rem;">
          <div class="container">
            {% block headerform %}
            {% endblock %}
          </div>
        </div>
      </section>

      <section class="section">
          <div class="container">
              {% block content %}
              {% endblock %}
          </div>
      </section>

    <!-- scripts -->
    <script type="text/javascript">
      (function() {
        var burger = document.querySelector('.burger');
        var nav = document.querySelector('#'+burger.dataset.target);
        burger.addEventListener('click', function(){
          burger.classList.toggle('is-active');
          nav.classList.toggle('is-active');
        });
      })();
    </script>

    <script type="text/javascript" src="/js/jquery-3.6.0.min.js"></script>

    {% block page-scripts %}
    {% endblock %}
  </body>
</html>
