{% extends "base.html" %}
{% block content %}
      <div class="content">
        <h2>No content</h2>
        <p>No pages have been created yet. Use the cog at top-right.</p>
      </div>
{% endblock %}
