{% extends "base.html" %}
{% block headerform %}
<form method="post" class="navbar-item" style="padding-left: 0;">
  {% csrf-field %}
  <span>
    <input type="hidden" name="page_ref" value="{{ page_id }}">
    <input type="text" name="habit_name" id="add_new" size="16">
    <input type="number" name="freq_value" style="width: 3em">
    <select name="freq_unit">
      <option value="days">days</option>
      <option value="weeks">weeks</option>
      <option value="months">months</option>
      <option value="years">years</option>
    </select>
    <button type="submit" name="action" value="add_habit">add habit</button>
  </span>
</form>
{% endblock %}
{% block content %}
      <div class="content">
        <!--
        ##
        ## Due habits ##
        ##
        -->
        <h2>Due</h2>
        <form method="post">
          {% csrf-field %}
          <input type="hidden" name="page_ref" value="{{ page_id }}">
          <table>
          <colgroup>
            <col style="width: 2em;">
            <col>
          </colgroup>
          <tbody>
          {% for habit in duehabits %}
          <tr {% if habit.highlight %}style="background-color: {{ habit.highlight }}"{% endif %}>
            <td><input type="checkbox" name="habit_id" value="{{ habit.habit_id }}" /></td>
            <td>{{ habit.habit_name }}
              <span class="is-size-7 habit-info">every {{ habit.freq_value }} {{ habit.freq_unit }}, due {{ habit.prettydue }}</span>
            </td>
          </tr>
          {% endfor %}
          </tbody>
        </table>
        <!-- these disabled actions are ignored, until javascript enables them when needed by renaming them to "action" -->
        <input type="hidden" id="action_done"           name="action_disabled" value="done">
        <input type="hidden" id="action_delete"         name="action_disabled" value="delete_habit">
        <input type="hidden" id="action_highlight"      name="action_disabled" value="highlight_habit_2">
        <input type="hidden" id="action_movetopage"     name="action_disabled" value="move_habit_to_page">

        <!-- done button -->
        <select name="donewhen" onchange='$("#action_done").attr("name", "action"); this.form.submit();'>
          <option value="NULL">done</option>
          <option value="today">today</option>
          <option value="yesturday">yesturday</option>
        </select>

        <!-- delete button -->
        <select name="really" onchange='$("#action_delete").attr("name", "action"); this.form.submit();'>
          <option value="NULL">delete</option>
          <option value="really">really?</option>
        </select>

        <!-- modify button -->
        <button type="submit" formaction="/modifyhabit?redirect=%2Fapp-page%2F{{ page_name_sanitized }}">modify</button>

        <span>-</span>

        <!-- highlight button -->
        <select name="color" onchange='$("#action_highlight").attr("name", "action"); this.form.submit();'>
          <option value="NULL">highlight</option>
          {% for color in highlightcolors %}
          <option value="{{ color }}">{{ color }}</option>
          {% endfor %}
        </select>

        <!-- move button -->
        <select name="newpage" onchange='$("#action_movetopage").attr("name", "action"); this.form.submit();'>
          <option value="NULL">move</option>
          {% for apppage in apppages %}
          {% ifunequal page_name apppage.page_name %}
          {% ifequal apppage.page_type "habit" %}
          <option value="{{ apppage.page_id }}">{{ apppage.page_name }}</option>
          {% endifequal %}
          {% endifunequal %}
          {% endfor %}
        </select>

        <!-- defer button -->
        <button type="button" onclick='$("#popup_defer").toggleClass("show");'>defer</button>

        <span>-</span>

        <!-- sort button -->
        <button type="submit" name="action" value="sort_habits">sort</button>
        <!-- popups -->
        <div class="popup">
          <div class="popupcontents" id="popup_defer">
            <label for="defer_date">Defer until:</label><br>
            <input type="date" name="defer_date" id="defer_date">
            <button type="submit" name="action" value="defer_habit" id="defer_habit_submit">defer</button>
          </div></div>
        </form>
        <br/>
        <!--
        ##
        ## Upcoming habits ##
        ##
        -->
        <button type="button" class="collapsible">Upcoming</button>
        <div class="collapsiblecontent">
          <form method="post">
            {% csrf-field %}
            <input type="hidden" name="page_ref" value="{{ page_id }}">
            <table>
              <colgroup>
                <col style="width: 2em;">
                <col>
              </colgroup>
              <tbody>
              {% for habit in upcominghabits %}
              <tr {% if habit.highlight %}style="background-color: {{ habit.highlight }}"{% endif %}>
                <td><input type="checkbox" name="habit_id" value="{{ habit.habit_id }}" /></td>
                <td>{{ habit.habit_name }}<br/>
                  <span class="is-size-7 habit-info">every {{ habit.freq_value }} {{ habit.freq_unit }}, due {{ habit.prettydue }}</span>
                </td>
              </tr>
              {% endfor %}
            </tbody>
            </table>
            <!-- these disabled actions are ignored, until javascript enables them when needed by renaming them to "action" -->
            <input type="hidden" id="action_done_2"        name="action_disabled" value="done">
            <input type="hidden" id="action_highlight_cat" name="action_disabled" value="highlight_habit_2">
            <input type="hidden" id="action_movetopage_2"  name="action_disabled" value="move_habit_to_page">

            <!-- done button -->
            <select name="donewhen" onchange='$("#action_done_2").attr("name", "action"); this.form.submit();'>
              <option value="NULL">done</option>
              <option value="today">today</option>
              <option value="yesturday">yesturday</option>
            </select>

            <!-- delete button -->
            <button type="submit" name="action" value="delete_habit">delete</button>

            <!-- modify button -->
            <button type="submit" formaction="/modifyhabit?redirect=%2Fapp-page%2F{{ page_name_sanitized }}">modify</button>

            <!-- highlight button -->
            <select name="color" onchange='$("#action_highlight_cat").attr("name", "action"); this.form.submit();'>
              <option value="NULL">highlight</option>
              {% for color in highlightcolors %}
              <option value="{{ color }}">{{ color }}</option>
              {% endfor %}
            </select>

            <!-- move button -->
            <select name="newpage" onchange='$("#action_movetopage_2").attr("name", "action"); this.form.submit();'>
              <option value="NULL">move</option>
              {% for apppage in apppages %}
              {% ifunequal page_name apppage.page_name %}
              {% ifequal apppage.page_type "habit" %}
              <option value="{{ apppage.page_id }}">{{ apppage.page_name }}</option>
              {% endifequal %}
              {% endifunequal %}
              {% endfor %}
            </select>
          </form>
        </div>
      </div>
{% endblock %}
{% block page-scripts %}
{% script "/js/habits.js" %}
{% endblock %}
