{% extends "base.html" %}
{% block content %}
  <div class="content">
    <p style="color: red;">
      {{error}}
    </p>
    <form method="POST" action="/login?redirect={{redirect}}">
      {% csrf-field %}
      <fieldset>
        <legend><h1>Please login</h1></legend>
        <input type="text" name="username" id="username" autofocus="autofocus">
        <label for="username">Username</label><br>
        <input type="password" name="password" id="password">
        <label for="password">Password</label><br>
      </fieldset>
      <input type="submit" value="Login">
    </form>
  </div>
{% endblock %}
