{% extends "base.html" %}
{% block content %}
      <div class="content">
        <h2>Modify Tasks</h2>
        <form method="post" action="{{ redirectto }}">
          {% csrf-field %}
        <table>
          <colgroup>
            <col>
          </colgroup>
          <tbody>
          {% for task in tasks %}
          <tr>
            <td>
                <input type="hidden" name="task_id" value="{{ task.task_id }}" />
                <input type="text" name="task_name" value="{{ task.task_name }}" />
            </td>
          </tr>
          {% endfor %}
          </tbody>
        </table>
        <button type="submit" name="action" value="save_changes_tasks">save changes</button>
        </form>
      </div>
{% endblock %}
