{% extends "base.html" %}
{% block content %}
      <div class="content">
        <h2>Modify Habits</h2>
        <form method="post" action="{{ redirectto }}">
          {% csrf-field %}
        <table>
          <colgroup>
            <col>
            <col>
            <col>
          </colgroup>
          <tbody>
          {% for habit in habits %}
          <tr>
            <td>
                <input type="hidden" name="habit_id" value="{{ habit.habit_id }}" />
                <input type="text" name="habit_name" value="{{ habit.habit_name }}" />
            </td>
            <td>
                <label for="freq{{ forloop.counter }}">every</label>
                <input id="freq{{ forloop.counter }}" name="freq_value" type="number" value="{{ habit.freq_value }}" />
                <select name="freq_unit">
                {% for unit in units %}
                  <option value="{{ unit }}" {% ifequal unit habit.freq_unit %}selected{% endifequal %}>{{ unit }}</option>
                {% endfor %}
                </select>
            </td>
            <td>
                <label for="due{{ forloop.counter }}">due</label>
                <input id="due{{ forloop.counter }}" type="date" name="date_scheduled" value="{{ habit.date_scheduled }}">
            </td>
          </tr>
          {% endfor %}
          </tbody>
        </table>
        <button type="submit" name="action" value="save_changes_habits">save changes</button>
        </form>
      </div>
{% endblock %}
