{% extends "base.html" %}
{% block content %}
  <div class="content">
    <h2>Pages</h2>
    <form method="post">
      {% csrf-field %}
      <input id="hidden_page_id" type="hidden" name="page_id" value="">
    <table>
      <colgroup>
        <col>
        <col>
        <col>
        <col>
        <col>
      </colgroup>
      <tbody>
        {% for apppage in apppages %}
        <tr>
          <td>{{ apppage.page_name }}</td>
          <td>{{ apppage.page_type }}s</td>
          <td><button type="submit" name="action" value="delete_page" onclick="$('#hidden_page_id').val('{{ apppage.page_id }}')">delete</button></td>
          <td>{% if not forloop.first %}<button type="submit" name="action" value="move-up" onclick="$('#hidden_page_id').val('{{ apppage.page_id }}')">⇧</button>{% endif %}</td>
          <td>{% if not forloop.last %}<button type="submit" name="action" value="move-down" onclick="$('#hidden_page_id').val('{{ apppage.page_id }}')">⇩</button>{% endif %}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </form>
  <h2>Add page</h2>
  <form method="post">
    {% csrf-field %}
    <input type="text" name="page_name" id="add_page_name">
    <select name="page_type">
      <option value="task">tasks page</option>
      <option value="habit">habits page</option>
    </select>
    <button type="submit" name="action" value="add_page">Add page</button>
  </form>
  <h2>Logout</h2>
  <a href="/logout" class="button">Logout Now</a>
</div>
{% endblock %}
