{% extends "base.html" %}
{% block headerform %}
<form method="post" class="navbar-item" style="padding-left: 0;">
  {% csrf-field %}
  <span>
    <input type="hidden" name="page_ref" value="{{ page_id }}">
    <input type="text" name="task_name" id="add_new">
    <button type="submit" name="action" value="add_task">add task</button>
    <!-- these disabled actions are ignored, until javascript enables them when needed by renaming them to "action" -->
    <input type="hidden" id="action_add_highlighted"      name="action_disabled" value="add_task_highlighted">

    <select name="color" onchange='$("#action_add_highlighted").attr("name", "action"); this.form.submit();'>
      <option value="NULL">highlighted</option>
      {% for color in highlightcolors %}
      {% ifunequal color "none" %}
      <option value="{{ color }}">{{ color }}</option>
      {% endifunequal %}
      {% endfor %}
    </select>
  </span>
</form>
{% endblock %}
{% block content %}
      <div class="content">
        <!--
        ##
        ## Due tasks ##
        ##
        -->
        <h2>Due</h2>
        <form method="post" id="due_tasks_form">
          {% csrf-field %}
          <input type="hidden" name="page_ref" value="{{ page_id }}">
        <table>
          <colgroup>
            <col style="width: 2em;">
            <col style="width: 100%;">
          </colgroup>
          <tbody>
          {% for task in tasks %}
          <tr {% if task.highlight %}style="background-color: {{ task.highlight }}"{% endif %}>
            <td><input type="checkbox" name="task_id" value="{{ task.task_id }}" /></td>
            <td>{{ task.task_name }}</td>
          </tr>
          {% endfor %}
          </tbody>
        </table>
        <!-- these disabled actions are ignored, until javascript enables them when needed by renaming them to "action" -->
        <input type="hidden" id="action_defer_existing" name="action_disabled" value="defer_existing">
        <input type="hidden" id="action_defer_date"     name="action_disabled" value="defer_date">
        <input type="hidden" id="action_highlight"      name="action_disabled" value="highlight_task_2">
        <input type="hidden" id="action_movetopage"     name="action_disabled" value="move_task_to_page">

        <!-- kludge to set default action when pressing enter in field -->
        <div style="width: 0; height: 0; overflow: hidden;">
          <input id="submitkludge" type="submit" name="action" value="defer_new">
        </div>

        <!-- delete button -->
        <button type="submit" name="action" value="delete_task">delete</button>

        <!-- modify button -->
        <button type="submit" formaction="/modifytask?redirect=%2Fapp-page%2F{{ page_name_sanitized }}">modify</button>

        <!-- highlight button -->
        <select name="color" onchange='$("#action_highlight").attr("name", "action"); this.form.submit();'>
          <option value="NULL">highlight</option>
          {% for color in highlightcolors %}
          <option value="{{ color }}">{{ color }}</option>
          {% endfor %}
        </select>
        
        <span>-</span>
        
        <!-- move button -->
        <select name="newpage" onchange='$("#action_movetopage").attr("name", "action"); this.form.submit();'>
          <option value="NULL">move</option>
          {% for apppage in apppages %}
          {% ifunequal page_name apppage.page_name %}
          {% ifequal apppage.page_type "task" %}
          <option value="{{ apppage.page_id }}">{{ apppage.page_name }}</option>
          {% endifequal %}
          {% endifunequal %}
          {% endfor %}
        </select>

        <!-- defer button -->
        <select id="deferbutton" name="defcat">
          <option value="NULL">defer</option>
          {% for defcat in defcatsnamed %}
          <option value="named_{{ defcat.cat_id }}">{{ defcat.cat_name }}</option>
          {% endfor %}
          <!-- {% for defcat in defcatsdated %}
          <option value="dated_{{ defcat.cat_id }}">{{ defcat.def_date }}</option>
          {% endfor %} -->
          <option value="new_5AXDrIpRBb69">new...</option>
        </select>

        <!-- date button -->
        <input type="date" name="new_date"
         onchange='$("#action_defer_date").attr("name", "action"); this.form.submit();'>

        <span>-</span>

        <!-- sort button -->
        <button type="submit" name="action" value="sort_tasks">sort</button>

        <!-- popups -->
        <div class="popup">
        <div class="popupcontents" id="popup_defer_name">
          <label for="new_defcat_name">New deferred category name:</label><br>
          <input type="text" name="new_name" id="new_defcat_name">
          <button type="submit" name="action" value="defer_new" id="new_defcat_submit">defer</button>
        </div></div>
        </form>
        <br/>
        <!--
        ##
        ## defcats-named ##
        ##
        -->
        {% for defcat in defcatsnamed %}
        <button type="button" class="collapsible">{{ defcat.cat_name }}</button>
        <div class="collapsiblecontent">
          <form method="post">
            {% csrf-field %}
            <input type="hidden" name="page_ref" value="{{ page_id }}">

            <!-- these disabled actions are ignored, until javascript enables them when needed by renaming them to "action" -->
            <input type="hidden" id="action_highlight_namedcat_{{ forloop.counter }}"  name="action_disabled" value="highlight_task_2">
            <input type="hidden" id="action_movetopage_namedcat_{{ forloop.counter }}" name="action_disabled" value="move_task_to_page">

            <table>
              <colgroup>
                <col style="width: 2em;">
                <col style="width: 100%;">
              </colgroup>
              <tbody>
              {% for task in defcat.tasks %}
              <tr {% if task.highlight %}style="background-color: {{ task.highlight }}"{% endif %}>
                <td><input type="checkbox" name="task_id" value="{{ task.task_id }}" /></td>
                <td>{{ task.task_name }}</td>
              </tr>
              {% endfor %}
            </tbody>
            </table>

            <!-- delete button -->
            <button type="submit" name="action" value="delete_task">delete</button>

            <!-- modify button -->
            <button type="submit" formaction="/modifytask?redirect=%2Fapp-page%2F{{ page_name_sanitized }}">modify</button>

            <!-- highlight button -->
            <select name="color" onchange='$("#action_highlight_namedcat_{{ forloop.counter }}").attr("name", "action"); this.form.submit();'>
              <option value="NULL">highlight</option>
              {% for color in highlightcolors %}
              <option value="{{ color }}">{{ color }}</option>
              {% endfor %}
            </select>

            <!-- move button -->
            <select name="newpage" onchange='$("#action_movetopage_namedcat_{{ forloop.counter }}").attr("name", "action"); this.form.submit();'>
              <option value="NULL">move</option>
              {% for apppage in apppages %}
              {% ifunequal page_name apppage.page_name %}
              {% ifequal apppage.page_type "task" %}
              <option value="{{ apppage.page_id }}">{{ apppage.page_name }}</option>
              {% endifequal %}
              {% endifunequal %}
              {% endfor %}
            </select>

            <!-- undefer button -->
            <button type="submit" name="action" value="undefer-named">undefer</button>
          </form>
        </div>
        <div><br></div>
        {% endfor %}
        <!--
        ##
        ## defcats-dated ##
        ##
        -->
        <button type="button" class="collapsible">Upcoming</button>
        <div class="collapsiblecontent">
          <form method="post">
            {% csrf-field %}
            <input type="hidden" name="page_ref" value="{{ page_id }}">

            <!-- these disabled actions are ignored, until javascript enables them when needed by renaming them to "action" -->
            <input type="hidden" id="action_highlight_datedcat" name="action_disabled" value="highlight_task_2">
            <input type="hidden" id="action_defer_date_2"       name="action_disabled" value="defer_date">
            <input type="hidden" id="action_movetopage_2"       name="action_disabled" value="move_task_to_page">

            <table>
              <colgroup>
                <col style="width: 2em;">
                <col>
                <col>
              </colgroup>
              <tbody>
              {% for defcat in defcatsdated %}
              {% for task in defcat.tasks %}
              <tr {% if task.highlight %}style="background-color: {{ task.highlight }}"{% endif %}>
                <td><input type="checkbox" name="task_id" value="{{ task.task_id }}" /></td>
                <td>{{ task.task_name }}</td>
                <td>{{ defcat.prettydue }}</td>
              </tr>
              {% endfor %}
              {% endfor %}
            </tbody>
            </table>

            <!-- delete button -->
            <button type="submit" name="action" value="delete_task">delete</button>

            <!-- modify button -->
            <button type="submit" formaction="/modifytask?redirect=%2Fapp-page%2F{{ page_name_sanitized }}">modify</button>

            <!-- highlight button -->
            <select name="color" onchange='$("#action_highlight_datedcat").attr("name", "action"); this.form.submit();'>
              <option value="NULL">highlight</option>
              {% for color in highlightcolors %}
              <option value="{{ color }}">{{ color }}</option>
              {% endfor %}
            </select>

            <!-- move button -->
            <select name="newpage" onchange='$("#action_movetopage_2").attr("name", "action"); this.form.submit();'>
              <option value="NULL">move</option>
              {% for apppage in apppages %}
              {% ifunequal page_name apppage.page_name %}
              {% ifequal apppage.page_type "task" %}
              <option value="{{ apppage.page_id }}">{{ apppage.page_name }}</option>
              {% endifequal %}
              {% endifunequal %}
              {% endfor %}
            </select>

            <!-- undefer button -->
            <button type="submit" name="action" value="undefer-dated">undefer</button>

            <!-- date button -->
            <input type="date" name="new_date"
            onchange='$("#action_defer_date_2").attr("name", "action"); this.form.submit();'>
          </form>
        </div>
        <div><br></div>
      </div>
{% endblock %}
{% block page-scripts %}
{% script "/js/tasks.js" %}
{% endblock %}
